<div class="bg-gradient-to-b from-blue-500 to-indigo-700 min-h-screen flex flex-col justify-center items-center">
    <div class="w-full h-screen max-w-3xl bg-white shadow-md rounded-lg p-8 mb-4">
      <h2 class="text-center text-3xl font-semibold text-gray-800 mb-4"><%= @portfolio.title %></h2>
      <div class="flex justify-center">
        <%= link_to 'New Project +', new_portfolio_project_path(@portfolio), class: 'text-green-500' %> 
      </div>

      <div class="p-16"></div>
      
      <p class="text-center text-gray-700 text-lg mb-6"><%= @portfolio.description %></p>

      <div class="p-16"></div>

      <div class="mb-6 flex justify-center">
        <%= link_to 'Edit Portfolio', edit_user_portfolio_path(@user, @portfolio), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6 flex flex-col items-center">
        <p><%= link_to 'Back to Portfolios', user_portfolios_path(@user), class: "text-blue-500 hover:text-blue-700 font-bold" %></p>
        <p><%= link_to 'View all Projects', portfolio_projects_path(@portfolio), class: "text-blue-500 hover:text-blue-700 font-bold" %></p>
      </div>
    </div>
</div>
