<div class="bg-gradient-to-b from-blue-500 to-indigo-700 min-h-screen flex flex-col justify-center items-center">
  <div class="w-full max-w-fit bg-white shadow-md rounded-lg p-8">
    <h2 class="text-center text-3xl font-semibold text-gray-800 mb-6">
      <%= current_user.fullname %>
      <%= link_to 'Create Portfolio +', new_user_portfolio_path(current_user), class: 'text-green-400' %>
    </h2>

    <div class="flex items-center space-x-4 mb-6">
      <div class="relative w-64 h-64 bg-blue-500 rounded-full flex items-center justify-center cursor-pointer">
        <img src="https://dummyimage.com/300x300/007BFF/FFFFFF&text=Placeholder+Image" alt="User Profile" class="rounded-full w-62 h-62 text-center align-middle">
        <div class="absolute inset-0 flex items-center justify-center bg-blue-500 bg-opacity-75 rounded-full opacity-0 hover:opacity-100 transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>
      </div>
      <div class="flex flex-col">
        <h3 class="text-2xl font-semibold text-gray-800"><%= current_user.username %></h3>
        <p class="text-gray-600"><%= current_user.email %></p>
      </div>
    </div>

    <div class="mb-8">
      <p class="text-center text-gray-700 text-lg leading-relaxed">
        <%# This will eventually use a User.about_me Text value so the user can make their own description for their showpage. %>
        ...
      </p>
    </div>

    <div class="flex justify-center mb-6">
      <button
        id="editProfileButton"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline transition duration-300"
      >
        Edit Profile
      </button>
    </div>

    <div id="editProfileForm" class="hidden">
      <%= render 'form' %>
    </div>
  </div>
</div>

<script>
  const editProfileButton = document.getElementById('editProfileButton');
  const editProfileForm = document.getElementById('editProfileForm');

  editProfileButton.addEventListener('click', () => {
    editProfileForm.classList.toggle('hidden');
  });
</script>
