<div class="bg-gradient-to-b from-blue-500 to-indigo-700 min-h-screen flex flex-col justify-center items-center">
  <div class="w-full max-w-md bg-white shadow-md rounded-lg p-8">
    <h2 class="text-3xl font-semibold text-gray-800 mb-4">New Project</h2>

    <%= form_for(@project, url: portfolio_projects_path(@portfolio)) do |f| %>

        <div class="mb-4">
            <%= f.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :title, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
            <%= f.label :caption, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :caption, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
            <%= f.label :project_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :project_url, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
            <%= f.label :github_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :github_url, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
            <%= f.label :thumbnail_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :thumbnail_url, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
            <%= f.label :demo_url, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :demo_url, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="flex items-center justify-center p-3">
            <%= f.submit 'Create Project', class: "text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" %>
        </div>

        <%= f.hidden_field :portfolio_id, value: @portfolio.id %>
    <% end %>
  </div>
</div>
